@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Libre+Franklin:wght@400;500&display=swap');

:root {
  --font-family-logo: 'Dancing Script', cursive;
  --font-family-default: 'Libre Franklin', sans-serif;
  --white: #fff;
  --pink: #bc1151;
  --dark: #383838;
}
